@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>Joe Bloggs - Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="~/Content/style.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>

<body id="top">
    <br />
    <br />
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="\image\headshot.jpg" alt="Hacı Yakup" />
            </div>

            <br />
            <div id="name">
                <h1 class="quickFade delayTwo">Hacı Yakup TETIK</h1>
                <h2 class="quickFade delayThree">Developer</h2>
            </div>

            <br />
            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>E-mail: haciyakuptetik@gmail.com</li>
                    <li>Phone: +90 554 548 8739</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">

            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Bahçelievler Anatolian High School</h2>
                        <p class="subDetails">2007-2011</p>
                        
                    </article>

                    <article>
                        <h2>Yıldırım Beyazıt University</h2>
                        <p class="subDetails">2011-Present</p>
                        <p> Faculty of Engineering and Natural Sciences<br />Department of Computer Engineering<br /> 3rd Class - 1105011025 </p>

                        
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Tübitak UZAY</h2>
                        <p class="subDetails">June 2014 - July 2014</p>
                        <p> Department of Data and Image Processing <br /> Position : Intern</p>
                    </article>

                    <article>
                        <h2>Gekosis - Software and Informatic Systems</h2>
                        <p class="subDetails">September 2014 - Present</p>
                        <p> Position : Software Developer Assistant</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        
                        <li>Android Programming</li>
                        <li>Arduino Programming</li>
                        <li>HTML,CSS,Javascript</li>
                        <li>Matlab</li>
                        <li>Verilog</li>
                        <li>SQL / PL-SQL</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>C</li>
                        
                        
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            
        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>
</html>